.advantages {
  background-color: $white;
}

.advantages__title {
  font-size: $font-size18;
  line-height: $line-height26;
  font-family: $base-font;
  text-transform: uppercase;
  min-width: 200px;
  margin: 0;
  text-align: center;
  max-width: 257px;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    max-width: 372px;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size21;
    max-width: 433px;
  }
}

.advantages__subtitle {
  font-size: $font-size14;
  line-height: $line-height26;
  margin: 0;
  font-family: $base-font;
  text-transform: uppercase;
  color: $mine-shaft;
  text-align: center;
  max-width: 300px;

  @media (min-width: $tablet-width) {
    min-width: 484px;
  }
}

.advantages__proof {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-bottom: 41px;
  }
}
