.advantages {
  background-color: $white;
}

.advantages__title {
  font-size: $font-size18;
  line-height: $line-height26;
  font-family: $base-font;
  text-transform: uppercase;
  min-width: 200px;
  margin-bottom: 35px;
  text-align: center;
  max-width: 257px;

  @media (min-width: $tablet-width) {
    max-width: 372px;
  }
}

.advantages__subtitle {
  font-size: $font-size14;
  line-height: $line-height26;
  margin: 0;
  font-family: $base-font;
  text-transform: uppercase;
  color: $mine-shaft;
  text-align: center;
}

.advantages__proof {
  height: 281px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 21px;
}
