body {
  * {
    box-sizing: border-box;
  }
  background-color: $mercury3;

  font-family: $base-font;

  fieldset {
    margin: 0;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}
