img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $mercury3;
  font-family: $base-font;

  fieldset,
  button {
    margin: 0;
    padding: 0;
  }

  button {
    background: transparent;
    border: 0;
  }

  img {
    display: block;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}
