.button {
  width: 280px;
  height: 58px;
  background-color: $steel-blue2;
  border: none;
  color: $white;
  font-weight: bold;
  font-size: $font-size21;
  line-height: $line-height26;
  font-family: $base-font;
  cursor: pointer;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 458px;
    height: 58px;
  }

  &:hover {
    background-color: $fountain-blue;
    transition: 0.3s;
  }

  &:active {
    background-color: $steel-blue;

    span {
      opacity: 0.3;
    }
  }
}
