.button {
  width: 280px;
  height: 58px;
  background-color: $light-blue;
  border: none;
  color: $white;
  font-weight: bold;
  font-size: $font-size21;
  line-height: $line-height26;
  font-family: $base-font;
  margin-left: 17px;
  margin-bottom: 40px;
}
