.contact__box {
  background-color: $white;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 58px;
  }
}

.contact__question {
  font-family: $base-font;
  font-size: $font-size21;
  line-height: $line-height26;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: $font-size30;
    line-height: $line-height26;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size30;
    line-height: $line-height26;
  }
}

.contact__text {
  font-size: $font-size14;
  line-height: $line-height24;
  font-family: $base-font;
  text-transform: uppercase;
  text-align: center;
  color: $mine-shaft;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 37px;
    padding-left: 185px;
    padding-right: 182px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 400px;
    padding-right: 400px;
  }
}

.contact__location {
  height: 350px;

  @media (min-width: $tablet-width) {
    height: 350px;
    width: 100%;
  }
}

.contact__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.contact__map {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    top: 145px;
    background-image: url("../img/icons/map-marker.svg");
    background-repeat: no-repeat;
    left: 146px;

    @media (min-width: $tablet-width) {
      left: 370px;
      top: 164px;
    }

    @media (min-width: $desktop-width) {
      left: 586px;
      top: 162px;
    }
  }
}
