.contact__box {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    height: 318px;
    align-items: center;
  }
}

.contact__question {
  margin: 0;
  font-family: $base-font;
  font-size: $font-size21;
  line-height: $line-height26;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 33px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: $font-size30;
    line-height: $line-height26;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size30;
    line-height: $line-height26;
  }
}

.contact__text {
  font-size: $font-size14;
  line-height: $line-height24;
  font-family: $base-font;
  text-transform: uppercase;
  text-align: center;
  max-width: 289px;
  color: $mine-shaft;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-left: 167px;
    border: 2px solid $lime;
    margin-top: 40px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
    margin-left: 383px;
  }
}

.contact__location {
  @media (min-width: $tablet-width) {
    height: 350px;
    width: 100%;
  }
}
