.contact {
  &__box {
    padding-left: 27px;
    margin-bottom: 27px;
  }

  &__question {
    margin: 0;
    font-family: $base-font;
    font-size: $font-size21;
    line-height: $line-height26;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 33px;
  }

  &__text {
    font-size: $font-size14;
    line-height: $line-height24;
    font-family: $base-font;
    text-transform: uppercase;
  }
}
