.copyright {
  display: flex;
  column-gap: 14px;
  justify-content: center;
  align-items: center;
  padding-bottom: 26px;
}

.copyright__text {
  font-family: $base-font;
  font-size: $font-size14;
  line-height: $line-height26;
  text-transform: uppercase;
}

.copyright__link {
  cursor: pointer;

  svg {
    transition: fill 0.3s;
  }

  &:hover {
    svg {
      fill: $steel-blue2;
    }
  }

  &:active {
    svg {
      fill: $light-grey;
    }
  }
}
