.features {
  display: flex;
  flex-wrap: wrap;
}

.features__list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.features__title {
  margin: 0;
  color: $white;
  font-family: $base-font;
  text-transform: uppercase;
  font-size: $font-size18;
  line-height: $line-height26;
  font-weight: bold;
  min-width: 200px;
  padding-top: 1px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: $font-size21;
    line-height: $line-height26;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 100px;
    padding-right: 100px;

    &--second {
      padding-left: 100px;
      padding-right: 78px;
      padding-top: 39px;
    }
  }
}

.features__text {
  margin: 0;
  color: $white;
  text-transform: uppercase;
  line-height: $line-height21;
  font-size: $font-size14;
  text-align: center;
  max-width: 300px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    max-width: 241px;
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: 289px;

    &--second {
      padding: 0;
      max-width: 232px;
    }
  }
}

.features__picture {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.features__box {
  background-color: $steel-blue2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 39px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 256px;
    padding-top: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }

  &--right {
    @media (min-width: $tablet-width) {
      order: 1;
      padding: 0 36px;
    }
  }

  &--left {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 37px;
      bottom: 0;
      background-image: url("../img/decor/white-layer.svg");
      background-position: center;
      top: -1px;
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }
}

.features__number {
  font-family: $base-font;
  font-size: $font-size14;
  line-height: $line-height21;
  text-transform: uppercase;
  color: $white;
}

.features__container {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.features__wrap {
  @media (min-width: $tablet-width) {
    flex: 1;
    padding-bottom: 4px;
  }
}

.features__photo {
  object-fit: cover;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
  }
}
