.feedback {
  border-bottom: 1px solid $mercury;
}

.feedback__subtitle {
  line-height: $line-height26;
  margin: 0;
  font-family: $base-font;
  text-transform: uppercase;
  margin-bottom: 37px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: $font-size14;
    line-height: $line-height24;
    max-width: 440px;
  }
}

.feedback__title {
  font-size: $font-size18;
  line-height: $line-height26;
  margin: 0;
  font-family: $base-font;
  text-transform: uppercase;
  margin-top: 36px;
  text-align: center;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: $font-size30;
  }
}
