.feedback {
  // margin-left: 20px;
}

.feedback__subtitle {
  line-height: $line-height26;
  margin: 0;
  font-family: $base-font;
  text-transform: uppercase;
  margin-bottom: 37px;
  text-align: center;
}

.feedback__title {
  font-size: $font-size18;
  line-height: $line-height26;
  margin: 0;
  font-family: $base-font;
  text-transform: uppercase;
  margin-top: 36px;
  text-align: center;
  margin-bottom: 36px;
}
