.feedback {
  // border-bottom: 1px solid $mercury;
  padding-top: 36px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-left: 116px;
    padding-right: 97px;
    padding-bottom: 66px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 250px;
    padding-right: 267px;
  }
}

.feedback__subtitle {
  line-height: $line-height26;
  margin: 0;
  font-family: $base-font;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-size: $font-size14;
    line-height: $line-height24;
    text-transform: uppercase;
    font-family: $base-font;
  }
}

.feedback__title {
  font-size: $font-size18;
  line-height: $line-height26;
  margin: 0;
  font-family: $base-font;
  text-transform: uppercase;
  padding-bottom: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: $font-size30;
  }
}

.feedback__line {
  border-bottom: 1px solid $mercury;
}
