.footer {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 260px;
  }
}

.footer__hashtag {
  font-size: $font-size21;
  line-height: $line-height26;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $base-font;
  margin: 0;
  margin-top: 38px;
  margin-bottom: 33px;
  text-align: center;
}

.footer__copyright {
  text-align: center;
  margin-bottom: 26px;
}
