.footer {
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    column-gap: 260px;
  }
}

.footer__hashtag {
  font-size: $font-size21;
  line-height: $line-height26;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $base-font;
  padding-bottom: 33px;
  padding-top: 24px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 122px;
  }
}

.footer__copyright {
  text-align: center;

  @media (min-width: $desktop-width) {
    padding-right: 116px;
  }
}
