.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: unset;
    align-items: flex-start;
  }

  &--right {
    display: flex;
    flex-direction: column;
  }

  &--flex {
    display: flex;
    flex-direction: column;
  }
}

.form__container {
  border: none;
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  &--right {
    padding-left: 0;
    @media (min-width: $tablet-width) {
      width: 50%;
      border-bottom: none;
      padding-left: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 125px;
    }
  }

  &--left {
    @media (min-width: $tablet-width) {
      order: -1;
      width: 50%;
      border-bottom: none;
      border-right: 1px solid $line;
    }
  }

  &--center {
    @media (min-width: $tablet-width) {
      width: 100%;

      .form__fill-in {
        padding-left: 25px;
        padding-top: 12px;
      }
    }

    @media (min-width: $desktop-width) {
      display: flex;
      column-gap: 79px;
      justify-content: center;
    }
  }

  &--down {
    @media (min-width: $tablet-width) {
      width: 100%;
      padding-left: 100px;
      padding-right: 100px;

      .form__wrap {
        width: 50%;
      }
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      padding: 0;

      .form__wrap {
        width: 25%;
      }
    }
  }
}

.form__title {
  font-size: $font-size18;
  line-height: $line-height26;
  margin: 0;
  font-family: $base-font;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 40px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    text-align: left;
    font-size: $font-size21;

    &--center {
      text-align: center;
      padding-top: 72px;
      display: flex;
      justify-content: center;

      &::before {
        content: "";
        position: absolute;
        background-color: $line;
        width: 100%;
        height: 1px;
        left: 0;
        top: 85px;
      }

      &::after {
        content: "контактная информация";
        position: absolute;
        background-color: $white;
        padding: 0 60px;
      }

      @media (min-width: $desktop-width) {
        padding-bottom: 72px;
      }
    }
  }

  &--middle {
    text-align: center;
    padding-top: 51px;
    padding-bottom: 47px;
    display: flex;
    justify-content: center;

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: center;
    }

    .form__line {
      position: absolute;
      background-color: $line;
      width: 100%;
      height: 1px;
      left: 0;
      top: 74px;
    }

    span {
      position: absolute;
      background-color: $white;

      @media (min-width: $tablet-width) {
        padding: 0 60px;
        width: 35ch;
      }
    }
  }

  &--desktop-first {
    @media (min-width: $desktop-width) {
      padding-left: 52px;
    }
  }
}

.form__fill-in {
  line-height: $line-height26;
  font-size: $font-size14;
  margin-right: 10px;
  font-family: $base-font;
  text-transform: uppercase;
  padding-bottom: 8px;

  &--contact {
    padding-left: 20px;
  }
}

.form__radio {
  font-size: $font-size18;
  line-height: $line-height26;
  font-weight: bold;
  font-family: $base-font;
}

.form__wrap .form__checkbox {
  font-size: $font-size18;
  line-height: $line-height26;
  font-weight: bold;
  font-family: $base-font;

  &::before {
    content: "";
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: $concrete;
    margin-right: 5px;
  }

  &:hover::before {
    background-color: $mercury;
  }

  &:active::before {
    background-color: $alto2;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.form__input {
  font-size: $font-size18;
  line-height: $line-height26;
  font-weight: bold;
  font-family: $base-font;
  color: $black;
  border: none;
  height: 58px;
  background-color: $concrete;
  flex: 1;
  text-indent: 22px;
  transition: 0.3s;

  &::placeholder {
    color: $black;
  }

  &:hover {
    background-color: $mercury;
  }

  &:active {
    background-color: $white;
    box-shadow: 0 0 0 4px $mercury inset;
  }

  &:focus {
    outline: none;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form__box {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: unset;
    padding-right: 37px;
  }
}

.form__wrap {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}

.form__icon {
  width: 58px;
  height: 58px;
  background-color: $mercury2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__text {
  font-family: $base-font;
  font-weight: bold;
  font-size: $font-size18;
  padding-left: 63px;
}

.form__wrap .form__radio {
  &:hover::before {
    background-color: $mercury;
  }

  &:active::before {
    background-color: $alto2;
  }

  &:active::after {
    opacity: 0.3;
    transition: 0.3;
  }
}
