.form {
  &__container {
    border: none;
    padding: 0;
    margin-bottom: 56px;
    margin-left: 20px;
  }

  &__title {
    font-size: $font-size21;
    margin: 0;
    font-family: $base-font;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 19px;
  }

  &__fill-in {
    line-height: $line-height26;
    margin: 0;
    font-family: $base-font;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__radio {
    font-size: $font-size18;
    line-height: $line-height26;
    font-weight: bold;
    font-family: $base-font;
  }

  &__checkbox {
    font-size: $font-size18;
    line-height: $line-height26;
    font-weight: bold;
    font-family: $base-font;
  }

  &__input {
    width: 280px;
    height: 58px;
    background-color: $concrete;
    border: none;

    &::placeholder {
      color: $black;
    }
  }
}
