.header {
  position: relative;
  background-color: $white;
  padding-top: 56px;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  top: 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    z-index: 12;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;

    &::before {
      content: "";
      display: block;
      width: 186px;
      height: 96px;

      position: absolute;
      top: 0;
      z-index: -1;
      background-image: url("../img/icons/triangle.png");
    }
  }
}
