.header {
  position: relative;
}

.header__logo {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
}
