.introduce {
  display: flex;
  flex-direction: column;
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-left: 155px;
    padding-right: 155px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 370px;
    padding-right: 372px;
  }
}

.introduce__title {
  text-align: center;
  font-family: $base-font;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $font-size18;
  line-height: $line-height26;
}

.introduce__subtitle {
  text-align: center;
  font-family: $base-font;
  text-transform: uppercase;
  font-size: $font-size14;
  line-height: $line-height24;
  padding-left: 12px;
  padding-right: 15px;
}
