.introduce {
  display: flex;
  flex-direction: column;
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-left: 155px;
    padding-right: 155px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 370px;
    padding-right: 372px;
    padding-top: 98px;
  }
}

.introduce__title {
  text-align: center;
  font-family: $base-font;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $font-size18;
  line-height: $line-height26;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-family: $base-font;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size30;
    line-height: $line-height26;
  }
}

.introduce__subtitle {
  text-align: center;
  font-family: $base-font;
  text-transform: uppercase;
  font-size: $font-size14;
  line-height: $line-height24;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 16px;
}
