.intro {
  background-image: url("../img/banner-mobile/back-mobile.jpg.png");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 518px;
  }

  @media (min-width: $desktop-width) {
    height: 518px;
  }
}
