.intro {
  background-image: url("../img/banner-mobile/back-mobile.jpg.png");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 389px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/banner-mobile/back-mobile.jpg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 518px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/banner-mobile/back-mobile.jpg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.intro__title {
  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }

  @media (min-width: $desktop-width) {
    width: 461px;
    height: 350px;
  }
}
