.modal {
  display: none;
  background-color: $white;
  width: 320px;
  height: 280px;
  position: fixed;
  top: 116px;
  left: 50%;
  margin-left: -160px;
  box-shadow: 0 7px 10px -4px rgba(34, 60, 80, 0.2);

  @media (min-width: $tablet-width) {
    width: 400px;
    height: 347px;
    top: 209px;
  }
}

.modal__title {
  font-size: $font-size18;
  line-height: $line-height26;
  text-transform: uppercase;
  font-family: $base-font;
  font-weight: bold;
  color: $black;
  margin: 0;
  padding-bottom: 15px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: $font-size30;
    line-height: $line-height40;
    text-transform: uppercase;
    font-family: $base-font;
    font-weight: bold;
    color: $black;
    padding-left: 92px;
    padding-right: 76px;
  }
}

.modal__failure {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $mercury;
  padding-bottom: 31px;
  padding-top: 15px;
}

.modal__subtitle {
  font-size: $font-size14;
  line-height: $line-height24;
  text-transform: uppercase;
  font-family: $base-font;
  color: $mine-shaft;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  padding-left: 42px;
  padding-right: 42px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }
}

.modal__wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $mercury;
  padding-bottom: 30px;
}

.modal__button {
  width: 180px;
  height: 58px;
  background-color: $steel-blue2;
  border: none;
  color: $white;
  font-family: $base-font;
  font-size: $font-size18;
  line-height: $line-height26;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 70px;
  cursor: pointer;
  transition: 0.3;

  &:hover {
    background-color: $fountain-blue;
  }

  &:active {
    background-color: $steel-blue;

    span {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    width: 272px;
    margin-left: 64px;
  }
}

.modal__box {
  flex-direction: column;
  align-items: center;
  padding-top: 61px;
  padding-bottom: 80px;
}

.modal__textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
