.navigation {
  // display: none;
  padding: 0;
  list-style: none;
}

.navigation__list {
  list-style: none;
  background-color: $steel-blue2;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    background-color: $white;
    display: flex;
  }
}

.navigation__item {
  text-transform: uppercase;

  font-family: $base-font;
  font-size: $font-size18;
  line-height: $line-height40;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 20%;

    &:nth-child(3) {
      margin-left: 20%;
    }
  }
}

.navigation__link {
  font-size: $font-size18;
  line-height: $line-height40;
  font-family: $base-font;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: $font-size14;
    line-height: $line-height26;
  }

  &--first {
    font-size: $font-size14;
    line-height: $line-height26;
    color: $brown-grey;
  }
}

.navigation__toggle {
  border: 2px solid $black;
}
