.navigation {
  // display: none;
  padding: 0;
  list-style: none;

  &__list {
    list-style: none;
    background-color: $steel-blue2;
    position: absolute;
    width: 100%;
    top: 0;
    cursor: pointer;
    z-index: 2;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-left: 108px;
    text-transform: uppercase;
    color: $white;
    font-family: $base-font;
    font-size: $font-size18;
    line-height: $line-height40;
    display: block;
    // border-top: 1px solid $steel-blue2;
    // border-bottom: 1px solid $steel-blue2 opacity($color: $steel);
  }
}
