.navigation {
  // display: none;
  padding: 0;
  list-style: none;
}

.navigation__list {
  list-style: none;
  background-color: $steel-blue2;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navigation__item {
  margin-left: 108px;
  text-transform: uppercase;
  color: $white;
  font-family: $base-font;
  font-size: $font-size18;
  line-height: $line-height40;
  display: flex;
}

.navigation__link {
  font-size: $font-size18;
  line-height: $line-height40;
  font-family: $base-font;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
}

.navigation__toggle {
  border: 2px solid $black;
}
