.photos {
  display: flex;
  flex-wrap: wrap;
}

.photos__pic {
  &--center {
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }
}

.photos__box {
  margin-left: 20px;
}

.photos__title {
  font-family: $base-font;
  text-transform: uppercase;
  font-size: $font-size14;
  line-height: $line-height24;
  font-weight: bold;
}

.photos__author {
  font-family: $base-font;
  text-transform: uppercase;
  font-size: $font-size14;
  line-height: $line-height24;
  font-weight: normal;
}

.photos__wrap {
  display: flex;
  column-gap: 14px;
  margin-bottom: 44px;
}

.photos__numbers {
  font-family: $base-font;
  font-size: $font-size14;
  line-height: $line-height24;
  text-transform: uppercase;
  margin: 0;
}

.photos__container {
  @media (min-width: $tablet-width) {
    width: 50%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0 auto;
  }
}

.photos__wrapper {
  @media (min-width: $tablet-width) {
    width: 648px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
  }
}
