.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photos__box {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    background-color: $concrete;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    margin-top: -4px;
    padding-left: 20px;
    padding-right: 28px;

    &--third {
      background-color: $catalog-background;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
    mix-blend-mode: normal;
    color: $white;
    background: rgba(0, 0, 0, 0.3);
    height: 77px;
  }
}

.photos__package {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.photos__title {
  font-family: $base-font;
  text-transform: uppercase;
  font-size: $font-size14;
  line-height: $line-height24;
  font-weight: bold;
  margin: 0;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    &--first {
      max-width: 133px;
    }
  }

  @media (min-width: $desktop-width) {
    &--first {
      max-width: 0;
    }
  }
}

.photos__author {
  font-family: $base-font;
  font-size: $font-size14;
  line-height: $line-height24;
  font-weight: normal;
  color: $mine-shaft;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.photos__wrap {
  display: flex;
  column-gap: 14px;
  align-items: center;

  @media (min-width: $desktop-width) {
    padding-right: 20px;
  }
}

.photos__numbers {
  font-family: $base-font;
  font-size: $font-size14;
  line-height: $line-height24;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}

.photos__like {
  svg path {
    fill: $shuttle-gray;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    svg path {
      fill: $black;
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    svg path {
      fill: $white;
    }
  }
}

.photos__container {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
}

.photos__wrapper {
  @media (min-width: $tablet-width) {
    width: 648px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photos__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
