.pluses {
  background-color: $gallery;
  min-height: 256px;
}

.pluses__list {
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 80px;
  padding-right: 40px;
  padding-left: 33px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    column-gap: 0;
  }
}

.pluses__title {
  font-family: $base-font;
  font-size: $font-size18;
  line-height: $line-height26;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: $font-size21;
    max-width: 153px;
  }
}

.pluses__text {
  line-height: $line-height21;
  font-size: $font-size14;
  font-family: $base-font;
  text-transform: uppercase;
  color: $mine-shaft;
  text-align: center;
  max-width: 247px;
  margin: 0;
  padding-bottom: 20px;
  width: 33ch;

  &--first {
    @media (min-width: $tablet-width) {
      padding-left: 12px;
    }
  }

  &--middle {
    @media (min-width: $tablet-width) {
      padding-left: 60px;
      padding-right: 41px;
    }
  }

  &--last {
    @media (min-width: $tablet-width) {
      padding-right: 30px;
      padding-left: 36px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.pluses__container {
  padding-top: 19px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $alto;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
    padding-top: 67px;
  }
}

.pluses__number {
  font-family: $base-font;
  font-size: $font-size14;
  line-height: $line-height21;
  text-transform: uppercase;
  color: $mine-shaft;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.pluses__item:last-child .pluses__container {
  border-bottom: 0;
}
