.pluses {
  background-color: $gallery;
  padding-bottom: 62px;
}

.pluses__list {
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 80px;
  padding-right: 40px;
  padding-left: 33px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-left: 42px;
    padding-right: 55px;
  }
}

.pluses__title {
  font-family: $base-font;
  font-size: $font-size18;
  line-height: $line-height26;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: $font-size21;
  }
}

.pluses__text {
  line-height: $line-height21;
  font-size: $font-size14;
  font-family: $base-font;
  text-transform: uppercase;
  color: $mine-shaft;
  text-align: center;
  max-width: 247px;
  margin: 0;
  padding-bottom: 20px;
}

.pluses__container {
  padding-top: 26px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $alto;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
  }

  // &:last-child {
  //   border-bottom: none;
  // }
}

.pluses__number {
  font-family: $base-font;
  font-size: $font-size14;
  line-height: $line-height21;
  text-transform: uppercase;
  color: $mine-shaft;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}
