.sights {
  padding: 0;
  list-style: none;
  padding-left: 22px;
  padding-top: 26px;
  padding-bottom: 35px;
  &__title {
    font-family: $base-font;
    font-size: $font-size21;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  &__text {
    line-height: $line-height26;
    font-family: $base-font;
    text-transform: uppercase;
    margin: 0;
  }
}
