.sights {
  list-style: none;
  padding-left: 22px;
  padding-top: 26px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  // @media (min-width: $tablet-width) {
  //   padding: 57px 31px 59px 36px;
  // }

  @media (min-width: $desktop-width) {
    padding-left: 58px;
    padding-right: 58px;
  }
}

.sights__title {
  font-family: $base-font;
  font-size: $font-size18;
  line-height: $line-height26;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size21;
    text-align: center;
    margin-bottom: 40px;
  }
}

.sights__text {
  line-height: $line-height21;
  font-size: $font-size14;
  font-family: $base-font;
  text-transform: uppercase;
  margin: 0;
  width: 30ch;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.sights__container {
  display: flex;
  column-gap: 12px;
  align-items: center;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.sights__box {
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.sights__img {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 75px;
    height: 72px;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 75px;
    height: 72px;
  }
}

.sights__item {
  @media (min-width: $tablet-width) {
    &--middle {
      display: flex;
      flex-wrap: wrap;
      order: 1;
    }
  }
}
