.textarea {
  text-align: center;
  font-size: $font-size18;
  line-height: $line-height26;
  font-weight: bold;
  font-family: $base-font;
  text-transform: uppercase;
  margin-bottom: 51px;
}

.textarea__share {
  height: 160px;
  width: 279px;
  border: none;
  font-size: $font-size18;
  line-height: $line-height26;
  font-weight: bold;
  font-family: $base-font;
  background-color: $concrete;
}
