.textarea {
  font-size: $font-size18;
  line-height: $line-height26;
  font-weight: bold;
  font-family: $base-font;
  text-transform: uppercase;
  text-align: left;
  padding-top: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-bottom: 80px;
  }
}

.textarea__share {
  height: 160px;
  width: 279px;
  border: none;
  font-size: $font-size18;
  line-height: $line-height26;
  font-weight: bold;
  font-family: $base-font;
  background-color: $concrete;
  margin-bottom: 51px;
  resize: none;
  padding-left: 20px;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    width: 648px;
    padding-left: 21px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.textarea__title {
  padding-bottom: 15px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 54px;
    padding-top: 40px;

    .textarea__line {
      position: absolute;
      background-color: $line;
      width: 100%;
      height: 1px;
      left: 0;
    }

    span {
      position: absolute;
      background-color: $white;
      padding: 0 60px;
      width: 35ch;
    }
  }
}

.textarea__wrap {
  display: grid;
  grid-template-columns: 70% 30%;
}

.textarea__box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--bottom {
    .form__line {
      position: absolute;
      background-color: $line;
      width: 100%;
      height: 1px;
      left: 0;
      top: 4.6em;
    }
  }
}
