$base-font: "PT Sans", "Arial", sans-serif;
$wrapper-colour: #ffffff;
$pluses-block: #eeeeee;
$letters: #000000;
$radio-button: #333333;
$grey: #d6d6d6;
$input: #f2f2f2;
$input-hover: #e5e5e5;
$medium-grey2: #e6e6e6;
$dark-grey: #5c6870;
$hover: #669ec0;
$active: #5496bd;
$button: #81b3d2;
$button-down: #d5d5d5;
$dark-grey2: #666666;
$backgroubd-grey: #e7e5e5;
$font-weight7: 700;
$font-weight4: 400;
$font-size18: 18px;
$font-size21: 21px;
$font-size14: 14px;
$line-height26: 26px;
$line-height21: 21px;
$line-height15: 15px;
$line-height24: 24px;
$line-height14: 14px;
