.video__title {
  text-align: center;
  font-size: $font-size18;
  line-height: $line-height26;
  font-family: $base-font;
  text-transform: uppercase;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: $font-size30;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 58px;
  }
}

.video__text {
  text-align: center;
  font-size: $font-size14;
  line-height: $line-height24;
  font-family: $base-font;
  text-transform: uppercase;
  padding-left: 28px;
  padding-right: 26px;
  margin: 0;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-left: 157px;
    padding-right: 162px;
    padding-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 377px;
    padding-right: 375px;
  }
}

.video__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.video__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.video__control {
  width: 280px;
  height: 66px;
  background-color: $concrete;
  position: relative;

  &::before {
    content: "";
    display: block;
    background-color: $transparent-black;
    width: 100%;
    height: 45px;
    position: absolute;
    top: -45px;
    left: 0;

    @media (min-width: $tablet-width) {
      height: 93px;
      top: -93px;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 235px;
    height: 3px;
    background-color: $white;
    opacity: 0.2;
    left: 20px;
    top: -20px;

    @media (min-width: $tablet-width) {
      width: calc(100% - 221px);
      left: 64px;
      top: -44px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 0;

    & button {
      background-color: transparent;
    }
  }
}

.video__buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 100%;
  width: 100%;

  @media (min-width: $tablet-width) {
    top: -55px;
    position: absolute;
  }
}

.video__scroll {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: $white;
  border-radius: 50%;
  top: -25px;
  left: 60px;

  @media (min-width: $tablet-width) {
    top: 6px;
    left: 200px;
  }

  @media (min-width: $desktop-width) {
    left: 212px;
  }
}

.video__repeat {
  display: block;
  border: none;

  svg path {
    fill: $shuttle-gray;
  }

  &:hover svg path {
    fill: $mine-shaft;
  }

  &:active svg path {
    fill: $mine-shaft;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    svg path {
      fill: $white;
    }

    &:hover svg path {
      fill: $white;
      opacity: 0.6;
    }

    &:active svg path {
      fill: $white;
      opacity: 0.3;
    }
  }
}

.video__subtitle {
  display: block;
  border: none;

  svg path {
    fill: $shuttle-gray;
  }

  &:hover svg path {
    fill: $mine-shaft;
  }

  &:active svg path {
    fill: $mine-shaft;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    svg path {
      fill: $white;
    }

    &:hover svg path {
      fill: $white;
      opacity: 0.6;
    }

    &:active svg path {
      fill: $white;
      opacity: 0.3;
    }
  }
}

.video__fullscreen {
  border: none;
  display: block;

  svg path {
    fill: $shuttle-gray;
  }

  &:hover svg path {
    fill: $mine-shaft;
  }

  &:active svg path {
    fill: $mine-shaft;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    svg path {
      fill: $white;
    }

    &:hover svg path {
      fill: $white;
      opacity: 0.6;
    }

    &:active svg path {
      fill: $white;
      opacity: 0.3;
    }
  }
}

.video__pic {
  position: relative;
}

.video__player {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__wrapper {
  display: flex;
  gap: 31px;
}
