.video__title {
  text-align: center;
  font-size: $font-size18;
  line-height: $line-height26;
  font-family: $base-font;
  text-transform: uppercase;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: $font-size30;
    margin: 0;
    padding-bottom: 30px;
  }
}

.video__text {
  text-align: center;
  font-size: $font-size14;
  line-height: $line-height24;
  font-family: $base-font;
  text-transform: uppercase;
  padding-left: 28px;
  padding-right: 26px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 157px;
    padding-right: 162px;
    padding-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 377px;
    padding-right: 375px;
  }
}

.video__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.video__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.video__control {
  width: 280px;
  height: 66px;
  background-color: $concrete;
  position: relative;
  right: 2px;
  bottom: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.video__repeat {
  display: block;
  width: 16px;
  height: 20px;
  background-image: url("../img/icons/replay.svg");
  border: none;
  margin-top: 22px;
  margin-left: 25px;
}

.video__subtitle {
  display: block;
  right: 100px;
  width: 32px;
  height: 20px;
  background-image: url("../img/icons/subtitles.svg");
  border: none;
}

.video__fullscreen {
  right: 150px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/fullscreen.svg");
  border: none;
  display: block;
  background-repeat: no-repeat;
}

.video__pic {
  position: relative;
}

.video__controls {
  background-color: $black;
  opacity: 0.6;
  position: absolute;
  top: 135px;
  right: 20px;
  background-position: center;
  background-image: url("../img/icons/volume-scale.png");
}

.video__player {
  position: relative;
}
